.protectionIcon {
  content: url('../../../../public/icons/protection.svg');
  padding-bottom: 8px;
}

.speedIcon {
  content: url('../../../../public/icons/speed.svg');
  padding-bottom: 8px;
}

.devicesIcon {
  content: url('../../../../public/icons/devices.svg');
  padding-bottom: 8px;
}

.infoIcon {
  content: url('../../../../public/icons/info.svg');
}
